<!doctype html>

<html lang="en"> 
  <head> 
  <meta charset="UTF-8"> 
  
  <script src="/js/dom.js"></script>
 </head> 

  <body>
      <div class="login-box">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="user-box">
            <input type="email" name="email" placeholder="Correo electrónico" required />
          </div>
          <div class="user-box">
            <input type="password" name="password" placeholder="Contraseña" required />
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="submit">Iniciar sesión</button>
          </a>
            <div class="links"> <a href="#"></a> <a href="/register">register</a> </div> 
        </form>
      </div>
  </body>
</html>
